email: {{ engagement_lead_email }}
ocp:
  cloud_provider: {{ ocp_cloud_provider_name }}
  cloud_region: {{ ocp_cloud_provider_region }}
  cluster_size: {{ ocp_cluster_size }}
  version: {{ ocp_version }}
project_id: {{ project_id }}
