email: "{{ engagement_lead_email }}"
ocp:
  admin_username: "{{ ocp_admin_username }}"
  admin_password: "{{ ocp_admin_password }}"
  cloud_provider: "{{ ocp_cloud_provider_name }}"
  cloud_region: "{{ ocp_cloud_provider_region }}"
  cluster_size: "{{ ocp_cluster_size }}"
  sub_domain: "{{ ocp_sub_domain }}"
  version: "{{ ocp_version }}"
project_id: "{{ project_id }}"
