#jinja2: trim_blocks:False
---
delete_missing_items: false

ansible_tower:
  url: "{{ ansible_tower_url }}"
  admin_password: "{{ ansible_tower_admin_password }}"
  projects:
    - name: "{{ customer_engagement }} Project"
      description: "{{ description }}"
      organization: "{{ organization }}"
      scm_type: "git"
      scm_url: "{{ url }}"
      scm_branch: "master"
      scm_credential_name: "{{ scm_credential_name }}"
      scm_update_on_launch: true
  job_templates:
    - name: "{{ customer_engagement }} Configure Ansible Tower"
      description: "Job Template to configure Ansible Tower"
      inventory: "{{ customer_engagement }} Inventory"
      project: "infra-ansible"
      playbook: "playbooks/ansible/tower/configure-ansible-tower.yml"
      credential: "{{ scm_credential_name }}"
      ask_variables_on_launch: true
  inventories:
    - name: "{{ customer_engagement }} Inventory"
      variables: ""
      organization: "{{ organization }}"
      sources:
        - name: "{{ customer_engagement }} Inventory Source"
          description: "GitLab inventory source for the {{ customer_engagement }} engagement"
          credential: "{{ scm_credential_name }}"
          source: "scm"
          source_project: "{{ customer_engagement }} Project"
          source_path: "iac/inventories/tower-jobs-schedules/inventory/hosts"
          update_on_launch: true
          source_vars: |-
            ---
  schedules:
    - name: "{{ customer_engagement }} Build Scheduled Notifications"
      description: "Builds scheduled notification jobs"
      rrule: "DTSTART:20060102T030405Z RRULE:FREQ=DAILY;INTERVAL=1"
      unified_job_template: "{{ customer_engagement }} Configure Ansible Tower"
