#jinja2: trim_blocks:False
---
start_date: "{{ (start_date | regex_replace('^(.*)T.*$', '\\1') | to_datetime('%Y-%m-%d')).strftime('%d %b %Y') }}"
end_date: "{{ (end_date | regex_replace('^(.*)T.*$', '\\1') | to_datetime('%Y-%m-%d')).strftime('%d %b %Y') }}"
archive_date: "{{ (archive_date | regex_replace('^(.*)T.*$', '\\1') | to_datetime('%Y-%m-%d')).strftime('%d %b %Y') }}"

delete_missing_items: false

ansible_tower:
  url: "{{ ansible_tower_url }}"
  admin_password: "{{ ansible_tower_admin_password }}"
  projects:
    - name: "{{ customer_name }} {{ project_name }} Project"
      description: "{{ description }}"
      organization: "{{ organization }}"
      scm_type: "git"
      scm_url: "{{ url }}"
      scm_branch: "master"
      scm_credential_name: "{{ scm_credential_name }}"
      scm_update_on_launch: true
  job_templates:
    - name: "Email and notify users - {{ customer_name }} {{ project_name }}"
      description: "Job Template to send email notificaitons to users"
      inventory: "{{ customer_name }} {{ project_name }} Notifications Inventory"
      project: "infra-ansible"
      playbook: "playbooks/notifications/email-notify-users.yml"
      credential: ""
      ask_variables_on_launch: true
  inventories:
    - name: "{{ customer_name }} {{ project_name }} Notifications Inventory"
      variables: ""
      organization: "{{ organization }}"
      sources:
        - name: "{{ customer_name }} {{ project_name }} Notifications Source"
          description: "GitLab inventory source for the {{ customer_name }} {{ project_name }} engagement"
          credential: ""
          source: "scm"
          source_project: "{{ customer_name }} {{ project_name }} Project"
          source_path: "iac/inventories/notifications/inventory/hosts"
          update_on_launch: true
          source_vars: |-
            ---
        - name: "{{ customer_name }} {{ project_name }} Mail Host Credentials Source"
          description: "Email credentials for infra-ansible/mail-host"
          credential: ""
          source_project: "rht-labs-credentials-dev"
          source: "scm"
          source_path: "redhat.com/inventory/hosts"
          update_on_launch: true
          source_vars: |-
            ---

  schedules:
    - name: "{{ customer_name }} {{ project_name }} Welcome Internal"
      description: "Welcome Internal for internal {{ company_name }} engagement members"
      {% raw -%}
      rrule: "{{ start_date | parse_datetime | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "Email and notify users - {{ customer_name }} {{ project_name }}"
      enabled: {{ enable_notifications | default(false) }}
      limit: mail-host,welcome_internal
    - name: "{{ customer_name }} {{ project_name }} Welcome All"
      description: "Welcome notification for {{ company_name }} and {{ customer_name }}"
      {% raw -%}
      rrule: "{{ start_date | parse_datetime | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "Email and notify users - {{ customer_name }} {{ project_name }}"
      enabled: {{ enable_notifications | default(false) }}
      limit: mail-host,welcome_all
    - name: "{{ customer_name }} {{ project_name }} Pre-offboard"
      description: "Pre-offboard"
      {% raw -%}
      rrule: "{{ end_date | parse_datetime | subtract_time(weeks=1) | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "Email and notify users - {{ customer_name }} {{ project_name }}"
      enabled: {{ enable_notifications | default(false) }}
      limit: mail-host,pre_offboard
    - name: "{{ customer_name }} {{ project_name }} Offboard 1"
      description: "Offboard 1"
      {% raw -%}
      rrule: "{{ end_date | parse_datetime | add_time(days=3) | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "Email and notify users - {{ customer_name }} {{ project_name }}"
      enabled: {{ enable_notifications | default(false) }}
      limit: mail-host,offboard_1
    - name: "{{ customer_name }} {{ project_name }} Offboard 2"
      description: "Offboard 2"
      {% raw -%}
      rrule: "{{ archive_date | parse_datetime | subtract_time(weeks=3) | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "Email and notify users - {{ customer_name }} {{ project_name }}"
      enabled: {{ enable_notifications | default(false) }}
      limit: mail-host,offboard_2
    - name: "{{ customer_name }} {{ project_name }} Offboard 3"
      description: "Offboard 3"
      {% raw -%}
      rrule: "{{ archive_date | parse_datetime | subtract_time(weeks=2) | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "Email and notify users - {{ customer_name }} {{ project_name }}"
      enabled: {{ enable_notifications | default(false) }}
      limit: mail-host,offboard_3
    - name: "{{ customer_name }} {{ project_name }} Shutoff"
      description: "Shutoff e-mail for the {{ customer_name }} {{ project_name }}} engagement"
      {% raw -%}
      rrule: "{{ archive_date | parse_datetime | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "Email and notify users - {{ customer_name }} {{ project_name }}"
      enabled: {{ enable_notifications | default(false) }}
      limit: mail-host,shutoff
