#jinja2: trim_blocks:False
---
start_date: "{{ (start_date | regex_replace('^(.*)T.*$', '\\1') | to_datetime('%Y-%m-%d')).strftime('%d %b %Y') }}"
end_date: "{{ (end_date | regex_replace('^(.*)T.*$', '\\1') | to_datetime('%Y-%m-%d')).strftime('%d %b %Y') }}"
archive_date: "{{ (archive_date | regex_replace('^(.*)T.*$', '\\1') | to_datetime('%Y-%m-%d')).strftime('%d %b %Y') }}"

delete_missing_items: false

ansible_tower:
  url: "{{ ansible_tower_url }}"
  admin_username: "{{ ansible_tower_admin_username | default('admin') }}"
  admin_password: "{{ ansible_tower_admin_password }}"
  projects:
    - name: "{{ customer_engagement }}-project"
      description: "{{ description }}"
      organization: "{{ organization }}"
      scm_type: "git"
      scm_url: "{{ url }}"
      scm_branch: "master"
      scm_credential_name: "{{ scm_credential_name }}"
      scm_update_on_launch: true
  job_templates:
    - name: "{{ customer_engagement }}-email-notify-list-of-users"
      description: "Job Template to send email notificaitons to users"
      inventory: "{{ customer_engagement }}-tower-mail-host"
      project: "infra-ansible"
      playbook: "playbooks/notifications/email-notify-list-of-users.yml"
      ask_variables_on_launch: true
  inventories:
    - name: "{{ customer_engagement }}-tower-mail-host"
      variables: ""
      organization: "{{ organization }}"
      sources:
        - name: "{{ customer_engagement }}-mail-host-credentials"
          description: "Email credentials for infra-ansible/mail-host"
          credential: "{{ scm_credential_name }}"
          source_project: "{{ mail_host_source_project }}"
          source: "scm"
          source_path: "redhat.com/inventory/hosts"
          update_on_launch: true
          source_vars: |-
            ---
        - name: "{{ customer_engagement }}-notification-templates"
          description: "Notification templates for {{ customer_engagement }}"
          credential: "{{ scm_credential_name }}"
          source_project: "{{ customer_engagement }}-project"
          source: "scm"
          source_path: "iac/inventories/notifications/inventory/hosts"
          update_on_launch: true
          source_vars: |-
            ---

  schedules:
    - name: "{{ customer_engagement }}-welcome-internal"
      description: "Welcome Internal for internal {{ company_name }} engagement members"
      {% raw -%}
      rrule: "{{ start_date | parse_datetime | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "{{ customer_engagement }}-email-notify-list-of-users"
      enabled: {{ enable_notifications | default(false) }}
      extra_data:
        body: {% raw %}"{{ welcome_internal.body }}"{% endraw %}
        title: {% raw %}"{{ welcome_internal.title }}"{% endraw %}
        list_of_users: {% raw %}"{{ internal.list_of_users }}"{% endraw %}
    - name: "{{ customer_engagement }}-welcome-all"
      description: "Welcome notification for {{ company_name }} and {{ customer_name }}"
      {% raw -%}
      rrule: "{{ start_date | parse_datetime | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "{{ customer_engagement }}-email-notify-list-of-users"
      enabled: {{ enable_notifications | default(false) }}
      extra_data:
        body: {% raw %}"{{ welcome_all.body }}"{% endraw %}
        title: {% raw %}"{{ welcome_all.title }}"{% endraw %}
        list_of_users: {% raw %}"{{ full.list_of_users }}"{% endraw %}
    - name: "{{ customer_engagement }}-pre-offboard"
      description: "Pre-offboard"
      {% raw -%}
      rrule: "{{ end_date | parse_datetime | subtract_time(weeks=1) | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "{{ customer_engagement }}-email-notify-list-of-users"
      enabled: {{ enable_notifications | default(false) }}
      extra_data:
        body: {% raw %}"{{ pre_offboard.body }}"{% endraw %}
        title: {% raw %}"{{ pre_offboard.title }}"{% endraw %}
        list_of_users: {% raw %}"{{ full.list_of_users }}"{% endraw %}
    - name: "{{ customer_engagement }}-offboard-1"
      description: "Offboard 1"
      {% raw -%}
      rrule: "{{ end_date | parse_datetime | add_time(days=3) | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "{{ customer_engagement }}-email-notify-list-of-users"
      enabled: {{ enable_notifications | default(false) }}
      extra_data:
        body: {% raw %}"{{ offboard_1.body }}"{% endraw %}
        title: {% raw %}"{{ offboard_1.title }}"{% endraw %}
        list_of_users: {% raw %}"{{ full.list_of_users }}"{% endraw %}
    - name: "{{ customer_engagement }}-offboard-2"
      description: "Offboard 2"
      {% raw -%}
      rrule: "{{ archive_date | parse_datetime | subtract_time(weeks=3) | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "{{ customer_engagement }}-email-notify-list-of-users"
      enabled: {{ enable_notifications | default(false) }}
      extra_data:
        body: {% raw %}"{{ offboard_2.body }}"{% endraw %}
        title: {% raw %}"{{ offboard_2.title }}"{% endraw %}
        list_of_users: {% raw %}"{{ full.list_of_users }}"{% endraw %}
    - name: "{{ customer_engagement }}-offboard-3"
      description: "Offboard 3"
      {% raw -%}
      rrule: "{{ archive_date | parse_datetime | subtract_time(weeks=2) | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "{{ customer_engagement }}-email-notify-list-of-users"
      enabled: {{ enable_notifications | default(false) }}
      extra_data:
        body: {% raw %}"{{ offboard_3.body }}"{% endraw %}
        title: {% raw %}"{{ offboard_3.title }}"{% endraw %}
        list_of_users: {% raw %}"{{ full.list_of_users }}"{% endraw %}
    - name: "{{ customer_engagement }}-shutoff"
      description: "Shutoff e-mail for the {{ customer_engagement }} engagement"
      {% raw -%}
      rrule: "{{ archive_date | parse_datetime | to_rrule(freq=3, interval=1, count=1) }}"
      {%- endraw %}
      unified_job_template: "{{ customer_engagement }}-email-notify-list-of-users"
      enabled: {{ enable_notifications | default(false) }}
      extra_data:
        body: {% raw %}"{{ shutoff.body }}"{% endraw %}
        title: {% raw %}"{{ shutoff.title }}"{% endraw %}
        list_of_users: {% raw %}"{{ full.list_of_users }}"{% endraw %}
